<ion-view class="" title="Lista Segnalazioni" left-buttons="leftButtons" right-buttons="rightButtons">
    
    <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
      <ion-nav-buttons side="right" >
        <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content has-header="true">
        <div>
           <ion-list>
            </ion-list>
              <div class="row">
                <div class="col">
                
                <form name="myForm">

            <label class="item item-input">
                <div class="input-label"><b>Segnalazioni del:</b></div>
                <input type="date" 
                        ng-model="frmData.dateFilter"
                        ng-change="dateChanged()">
                </label>

                    <button class="button button-assertive button-block" ng-click="refreshDati()">Premi per aggiornare i dati</button>
      
                </form>


                </div>
              </div>


            <ion-list>
                <ion-item ng-repeat="item in items" class="item-text-wrap">
                  
                  <p><b>{{item.data_creazione}} - {{item.ora_creazione}} - {{item.protocollo}}</b></p>
                  <p>{{item.tipo_segnalazione}}</p>
                  <p>Richiedente:{{item.richiedente_nominativo}}</p>
                  <p>Indirizzo:{{item.evento_indirizzo1}}</p>
                  <p>{{item.descrizione_breve}}</p>
                  <p>{{item.descrizione_dettagliata}}</p>
                  <hr>
                  <p ng-repeat="intervento in item.q2">
                      {{intervento.stato}}-({{intervento.nome}})<br/> 
                      {{intervento.ordini}}{{intervento.esito}}  
                      {{intervento.id_equipaggio_1}} 
                      {{intervento.id_equipaggio_2}} 
                      {{intervento.id_equipaggio_3}} 
                  </p>
                  <hr>
                  <p ng-repeat="comunicazione in item.q3">
                      {{comunicazione.comunicazione }} 
                  </p>


                  <!--                                           
                    <ion-option-button class="button-positive"
                       ng-click="viewItem(item.id)">
                        Dettagli
                    </ion-option-button>
                  -->
                </ion-item>
                <ion-item ng-hide="items.length" class="item-text-wrap">
                    <h3>Non ci sono elementi da visualizzare</h3>
                    <h3>Modificare le impostazioni di ricerca</h3>
                </ion-item>
            </ion-list>

        </div>
    </ion-content>
</ion-view>   
